#content * {
  font-family: Arial, sans-serif;
}
.img-block {
  display: flex;
  max-width: 960px;
}
#img, .primary-text {
  margin: 5% auto;
}
#img {
  width: calc(40% - 4px);
  max-width: 1280px;
  aspect-ratio: 1/1;
  border: 2px solid var(--second-text-color);
  border-radius: 12px 0 0 0;
  background-image: url("../imgs/author.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.primary-text {
  width: 40%;
  margin: auto;
  font-size: 22px;
}
.primary-text * {
  margin: 8px 0;
}
.second-text {
  margin: 5% 10%;
  font-size: 18px;
}
.second-text * {
  margin: 4px 0;
}


@media screen and (min-width: 0px) and (max-width: 703px) {
  .img-block {
    display: block;
  }
  #img, .primary-text {
    margin: 10% auto;
  }
  #img {
    width: calc(80% - 4px);
    border-radius: 12px 12px 0 0;
  }
  .primary-text {
    width: 80%;
    font-size: 20px;
  }
  .second-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 0px) and (max-width: 351px) {
  .primary-text {
    font-size: 16px;
  }
  .second-text {
    font-size: 14px;
  }
}