#content * {
  font-family: Arial, sans-serif;
}
.img-block {
  display: flex;
  max-width: 960px;
}
#img, .primary-text {
  margin: 5vw auto;
}
#img {
  width: calc(40% - 4px);
  max-width: 1280px;
  aspect-ratio: 1/1;
  border: 2px solid var(--second-text-color);
  border-radius: 12px 0 0 0;
  background-image: url("../imgs/author.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.primary-text {
  width: 40%;
  margin: auto;
  font-size: 22px;
}
.primary-text * {
  margin: 8px 0;
}
.second-text {
  margin: 5vw 10vw;
  font-size: 18px;
}
.second-text * {
  margin: 4px 0;
}


@media screen and (min-width: 0px) and (max-width: 599px) {
  .img-block {
    display: block;
  }
  #img, .primary-text {
    margin: 10vw auto;
  }
  #img {
    width: calc(80vw - 4px);
    border-radius: 12px 12px 0 0;
  }
  .primary-text {
    width: 80vw;
    font-size: 20px;
  }
  .second-text {
    font-size: 16px;
  }
}