body {
    overflow-y: hidden;
    user-select: none;
}
#main {
    position: absolute;
    width: 2560px;
    height: 1440px;
    top: calc(50vh - 720px);
    left: calc(50vw - 1280px);
    background-image: url("../img/game/backgrounds/0.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    z-index: -300;
}
.hero {
    position: absolute;
    width: 64px;
    height: 80px;
    top: calc(50% - 48px);
    left: calc(50% - 32px);
    background-color: transparent;
    z-index: -200;
}
.hero p {
    height: 16px;
    width: 64px;
    margin: 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #f2f2f2;
}
.hero div {
    height: 64px;
    width: 64px;
    background-image: url("../img/game/backgrounds/0.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}
#joystick {
    display: none;
    position: fixed;
    bottom: -45px;
    z-index: -100;
}
