body {
    overflow-y: hidden;
    user-select: none;
}
#main {
    position: absolute;
    width: 2560px;
    height: 1440px;
    top: calc(50vh - 720px);
    left: calc(50vw - 1280px);
    background-image: url("../img/background_0.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -300;
}
.hero {
    position: relative;
    width: 64px;
    height: 64px;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    background-color: #f2f2f2;
    z-index: -200;
}
#joystick {
    position: fixed;
    bottom: 8px;
}