body {
    margin: 0;
    overflow-x: hidden;
    background-color: #f2f2f2;
}
#nav-cont {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 72px;
    box-shadow: 0 4px 6px #0d0d0d;
    background-color: #4d4d4d;
    z-index: 300;
}
#nav-cont div {
    position: relative;
    display: flex;
    top: 3px;
    left: 8px;
    height: 64px;
    width: min-content;
    cursor: pointer;
}
#nav-cont div img {
    box-shadow: 0 2px 4px #262626;
    border-radius: 64px;
    width: 64px;
    height: 64px;
}
#nav-cont div p {
    height: 64px;
    font-size: 32px;
    margin: 8px 0 auto 0;
    color: #78d5ed;
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: 400;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}