:root{
  --primary-color: #404040;
  --primary-text-color: #f2f2f2;
  --second-color: #262626;
  --second-text-color: #bfbfbf;
  --third-color: #0d0d0d;
}
body.light{
  --primary-color: #f2f2f2;
  --primary-text-color: #0d0d0d;
  --second-color: #bfbfbf;
  --second-text-color: #404040;
  --third-color: #8c8c8c;
}
body.purple{
  --primary-color: #8a00e6;
  --primary-text-color: #ffff00;
  --second-color: #6b00b3;
  --second-text-color: #ffffb3;
  --third-color: #4d004d;
}
body.ocean{
  --primary-color: #0073e6;
  --primary-text-color: #80bfff;
  --second-color: #0059b3;
  --second-text-color: #b3d9ff;
  --third-color: #004080;
}
.noselect, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  font-family: Constantia, "Palatino Linotype", Palatino, Georgia, serif;
  color: var(--primary-text-color);
  transition: 0.4s;
}
body {
  overflow-x: hidden;
  background-color: var(--primary-color);
}
a {
  text-decoration: none;
}
span {
  min-width: 128px;
  padding: 2px 8px;
  border-radius: 4px;
  outline: 0;
  background-color: var(--second-color);
  box-shadow: -2.25px 1.5px 3px var(--third-color);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
form input {
  padding: 4px 8px;
  border: 0;
  border-radius: 8px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  background-color: var(--second-color);
  color: var(--second-text-color);
  box-shadow: -2.25px 1.5px 3px var(--third-color);
}
form.centered input, span.centered {
  text-align: center;
}
form.centered input:focus, span.centered:focus {
  text-align: left;
}
form input[type="submit"] {
  opacity: 0.5;
  cursor: pointer;
}
form input[type="submit"]:hover {
  opacity: 1;
}
.spinner {
  transition: transform 0.4s linear;
  transform-origin: center;
}
p.spinner {
  transform-origin: center 32.5%;
}
.spinner.go {
  transform: rotate(360deg);
}
#notification-zone {
  position: fixed;
  top: 64px;
  right: 8px;
  width: 100%;
  min-width: 160px;
  max-width: 320px;
  max-height: calc(100% - 56px);
  z-index: 100;
}
#notification-zone:hover {
  overflow: hidden scroll;
}
.notification {
  position: relative;
  width: 100%;
  margin: 6px auto 6px auto;
  aspect-ratio: 6/1;
  border-radius: 8px;
  opacity: 0.5;
  z-index: 100;
}
.notification:hover {
  opacity: 1;
  cursor: pointer;
}
.notification.notify {
  background-color: #adebad;
  border: 2px solid #29a329;
}
.notification.notify p {
  color: #29a329;
}
.notification.alert {
  background-color: #ffff99;
  border: 2px solid #b3b300;
}
.notification.alert p {
  color: #b3b300;
}
.notification.error {
  background-color: #ff9999;
  border: 2px solid #ff0000;
}
.notification.error p {
  color: #ff0000;
}
.notification-title {
  font-size: 18px;
  margin: 0 8px 0 8px;
}
.notification-message {
  margin: 2px 4px 6px 4px;
}
#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: var(--second-color);
  box-shadow: -3px 2px 4px var(--third-color);
  z-index: 50;
}
#header div:first-child {
  display: flex;
  margin: auto auto auto 12px;
  cursor: pointer;
}
#header div:nth-child(2) {
  margin: auto 12px auto auto;
  cursor: pointer;
}
#header p, #header i {
  font-size: 40px;
  font-weight: 300;
  text-shadow: -3px 2px 4px var(--third-color);
}
#header p {
  margin-top: -2px;
  font-size: 36px;
}
#header i {
  margin-top: 2px;
}
#navigation, #settings-menu, #content {
  top: 57px;
}
#navigation, #settings-menu {
  position: fixed;
  background-color: var(--second-color);
  box-shadow: -3px 2px 4px var(--third-color);
  z-index: 50;
}
#navigation {
  left: 0;
  width: 30%;
  min-width: 256px;
  max-width: 460px;
  border-radius: 0 0 8px 0;
}
#settings-menu {
  right: 0;
  width: 80%;
  min-width: 496px;
  border-radius: 0 0 0 8px;
}
.nav-item:last-child {
  border-radius: 0 0 8px 0;
}
.nav-item:hover {
  background-color: var(--third-color);
  cursor: pointer;
}
.nav-item-title {
  padding: 4px 0 4px 8px;
  font-size: 20px;
  font-weight: 300;
}
.nav-item-description {
  padding: 0 0 8px 12px;
  color: var(--second-text-color);
}
.settings-section {
  margin: 0 16px 4px 16px;
  padding: 8px 0;
}
.settings-section:not(:last-of-type) {
  border-bottom: 2px solid var(--primary-color);
}
.settings-section-name {
  font-size: 24px;
  font-weight: 600;
  text-shadow: -3px 2px 4px var(--third-color);
}
.setting {
  display: flex;
  margin: 6px;
  font-size: 18px;
}
.setting-name {
  margin: 0 8px 0 0;
  color: var(--second-text-color);
  text-shadow: -2.25px 1.5px 3px var(--third-color);
}
.setting-param {
  margin: 0 4px;
  padding: 2px 6px;
  color: var(--second-text-color);
  cursor: pointer;
}
.setting-param:hover {
  color: var(--primary-text-color);
}
.setting-param.current {
  background-color: var(--third-color);
  border-radius: 8px;
}
.setting form {
  display: flex;
  width: 100%;
  margin: 6px 0;
}
.setting form i {
  margin: auto 0;
  font-size: 32px;
  color: var(--second-text-color);
}
.setting form input {
  margin: auto 6px;
  font-size: 16px;
  background-color: var(--third-color);
}
.setting form input:focus {
  width: calc(100% - 12px);
}
#content {
  position: absolute;
  left: 100%;
  width: 100%;
  z-index: 0;
}
.link:hover, #header div:first-child:hover p:nth-child(2) {
  color: var(--second-text-color)!important;
  cursor: pointer;
}

@media screen and (min-width: 0px) {
  #notification-zone {
    top: 42px;
    width: calc(100% - 14px);
  }
  #header {
    height: 42px;
    box-shadow: -2.25px 1.5px 3px var(--third-color);
  }
  #footer {
    height: 42px;
    box-shadow: -2.25px -1.5px 3px var(--third-color);
  }
  #header p , #footer p, #header i, #footer i {
    font-size: 30px;
    font-weight: 300;
    text-shadow: -2.25px 1.5px 3px var(--third-color);
  }
  #header p {
    font-size: 27px;
  }
  #content, #navigation, #settings-menu {
    top: 43px;
  }
  #navigation {
    width: 100%;
    border-radius: 0;
  }
  #settings-menu {
    width: 100%;
    min-width: 0;
    border-radius: 0;
  }
  .setting {
    display: block;
  }
  .setting form input {
    width: calc(100% - 12px);
  }
}
@media screen and (min-width: 480px) {
  #notification-zone {
    top: 56px;
    width: 30%;
  }
  #header {
    height: 56px;
    box-shadow: -3px 2px 4px var(--third-color);
  }
  #footer {
    height: 56px;
    box-shadow: -3px -2px 4px var(--third-color);
  }
  #header p , #footer p, #header i, #footer i {
    font-size: 40px;
    font-weight: 300;
    text-shadow: -3px 2px 4px var(--third-color);
  }
  #header p , #footer p {
    font-size: 36px;
  }
  #content, #navigation, #settings-menu {
    top: 57px;
  }
  #navigation {
    width: 30%;
    border-radius: 0 0 8px 0;
  }
  #settings-menu {
    width: 80%;
    min-width: 496px;
    border-radius: 0 0 0 8px;
  }
  .setting {
    display: flex;
  }
  .setting form input {
    width: initial;
  }
}