body {
  background-color: white;
}
main {
  min-height: 90%;
}
html, body {
  height: 90%;
}
.navbar {
  background-color:lightgray;
  border-bottom-width: 2px;
  border-bottom-style: ridge;
  border-bottom-color: gray;
  margin-bottom: 5%;
}
.copybar {
  background-color:lightgray;
  border-top-width: 2px;
  border-top-style: ridge;
  border-top-color: gray;
  margin-top: 5%;
}