body {
  background-color: lightcyan;
}
header {
  background-color:gainsboro;
  border-bottom-width: 2px;
  border-bottom-style: ridge;
  border-bottom-color: gray;
}
footer {
  background-color:gainsboro!important;
  border-top-width: 2px;
  border-top-style: ridge;
  border-top-color: gray;
  margin-top: 100px;
}