:root{
  --primary-color: #404040;
  --primary-text-color: #f2f2f2;
  --second-color: #262626;
  --second-text-color: #bfbfbf;
  --third-color: #0d0d0d;
}
body.light{
  --primary-color: #f2f2f2;
  --primary-text-color: #0d0d0d;
  --second-color: #bfbfbf;
  --second-text-color: #404040;
  --third-color: #8c8c8c;
}
.noselect, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  font-family: Constantia, "Palatino Linotype", Palatino, Georgia, serif;
  color: var(--primary-text-color);
  transition: 0.4s;
}
body {
  overflow-x: hidden;
  background-color: var(--primary-color);
}
a {
  text-decoration: none;
}
#notification-zone {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  min-width: 256px;
  max-width: 460px;
  z-index: 100;
}
.notification {
  position: relative;
  width: 100%;
  margin: 6px auto 6px auto;
  aspect-ratio: 6/1;
  border-radius: 8px;
  opacity: 0.25;
  z-index: 100;
}
.notification:hover {
  opacity: 0.75;
}
.notification.notify {
  background-color: #ABEBC6;
  border: 2px solid #58D68D;
}
.notification.alert {
  background-color: #F9E79F;
  border: 2px solid #F4D03F;
}
.notification.error {
  background-color: #F5B7B1;
  border: 2px solid #EC7063;
}
#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: var(--second-color);
  box-shadow: -3px 2px 4px var(--third-color);
  z-index: 50;
}
#header div:first-child {
  display: flex;
  margin: auto auto auto 12px;
  cursor: pointer;
}
#header div:nth-child(2) {
  margin: auto 12px auto auto;
  cursor: pointer;
}
#header p, #header i {
  font-size: 40px;
  font-weight: 300;
  text-shadow: -3px 2px 4px var(--third-color);
}
#header p {
  margin-top: -2px;
  font-size: 36px;
}
#header i {
  margin-top: 2px;
}
#navigation, #settings-menu, #content {
  top: 57px;
}
#navigation, #settings-menu {
  position: fixed;
  background-color: var(--second-color);

  z-index: 50;
}
#navigation {
  left: 0;
  width: 30%;
  min-width: 256px;
  max-width: 460px;
  border-radius: 0 0 8px 0;
}
#settings-menu {
  right: 0;
  width: 60%;
  min-width: 460px;
  border-radius: 0 0 0 8px;
}
.nav-item-title {
  padding: 4px 0 4px 8px;
  font-size: 20px;
  font-weight: 300;
}
.nav-item-description {
  padding: 0 0 8px 12px;
  color: var(--second-text-color);
}
.nav-item:hover {
  background-color: var(--third-color);
  cursor: pointer;
}
#content {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 0;
}

.spinner {
  transition: transform 0.4s linear;
  transform-origin: center;
}
p.spinner {
  transform-origin: center 32.5%;
}
.spinner.go {
  transform: rotate(360deg);
}
.link:hover, #header div:first-child:hover p:nth-child(2) {
  color: var(--second-text-color)!important;
  cursor: pointer;
}

@media screen and (min-width: 0px) {
  #notification-zone {
    width: calc(100% - 16px);
  }
  #header {
    height: 42px;
    box-shadow: -2.25px 1.5px 3px var(--third-color);
  }
  #footer {
    height: 42px;
    box-shadow: -2.25px -1.5px 3px var(--third-color);
  }
  #header p , #footer p, #header i, #footer i {
    font-size: 30px;
    font-weight: 300;
    text-shadow: -2.25px 1.5px 3px var(--third-color);
  }
  #header p {
    font-size: 27px;
  }
  #content, #navigation, #settings-menu {
    top: 43px;
  }
  #navigation {
    width: 100%;
    border-radius: 0;
  }
  #settings-menu {
    width: 100%;
    min-width: 0;
    border-radius: 0;
  }
}
@media screen and (min-width: 480px) {
  #notification-zone {
    width: 30%;
  }
  #header {
    height: 56px;
    box-shadow: -3px 2px 4px var(--third-color);
  }
  #footer {
    height: 42px;
    box-shadow: -3px -2px 4px var(--third-color);
  }
  #header p , #footer p, #header i, #footer i {
    font-size: 40px;
    font-weight: 300;
    text-shadow: -3px 2px 4px var(--third-color);
  }
  #header p , #footer p {
    font-size: 36px;
  }
  #content, #navigation, #settings-menu {
    top: 57px;
  }
  #navigation {
    width: 30%;
    border-radius: 0 0 8px 0;
  }
  #settings-menu {
    width: 60%;
    min-width: 460px;
    border-radius: 0 0 0 8px;
  }
}