a {
  text-decoration: inherit;
  color: inherit;
  font-size: 20px;

  &:hover {
    color: violet;
  }

  &.el0 {
    margin-left: 4px;
  }
  
  &.el1 {
    margin-left: 10px;
  }
  
  &.el2 {
    margin-left: 16px;
  }
}